.container-form-name {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 676px;
  height: 121px;
}

.home__title {
  font-family: "Inter-Bold";
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  font-weight: 662px;
  margin-bottom: 0;

  color: #fe1936;
}

.home__description {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
  color: #302f2f;
}

.home__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
}
